@model YGOConsistencyCalculator.Models.DeckDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Card</h2>
<form action="/Deck/Update/@Model.DeckId" method="POST">
    <div>
        <input type="hidden" name="DeckId" value="@Model.DeckId" />
    </div>
    <div>
        <label for="deckName" class="form-label">Name:</label>
        <input id="deckName" class="form-control" type="text" name="DeckName" value="@Model.DeckName" />
    </div>
    <div>
        <input type="hidden" name="UserId" value="@Model.UserId" />
    </div>
    <div>
        <label for="starterChance" class="form-label">Combo Chance:</label>
        <input id="starterChance" class="form-control" type="number" name="StarterChance" value="@Model.StarterChance" />
    </div>
    <div>
        <label for="oneCardChance" class="form-label">One-Card Combo Chance:</label>
        <input id="oneCardChance" class="form-control" type="number" name="OneCardChance" value="@Model.OneCardChance" />
    </div>
    <div>
        <label for="twoCardChance" class="form-label">Two-Card Combo Chance:</label>
        <input id="twoCardChance" class="form-control" type="number" name="TwoCardChance" value="@Model.TwoCardChance" />
    </div>
    <div>
        <label for="extenderChance" class="form-label">Extender Chance:</label>
        <input id="extenderChance" class="form-control" type="number" name="ExtenderChance" value="@Model.ExtenderChance" />
    </div>
    <div>
        <label for="engineReqChance" class="form-label">NonEngine Chance:</label>
        <input id="engineReqChance" class="form-control" type="number" name="EngineReqChance" value="@Model.EngineReqChance" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Update Deck" />
    </div>
</form>