@model YGOConsistencyCalculator.Models.DeckDto
@{
    ViewBag.Title = "Edit Deck";
}

<header class="row">
    <div class="col">
    <button >Back</button>
        </div>
    <div class="col-10">
    <h1>@Model.DeckName</h1>
        </div>
    <div class="col">
    <button id="save-button">Save</button>
        </div>
</header>
<main class="row">
    <section class="col">
        <div class="row h-100">
        <div id="card-view">

        </div>
        <div>
            <div class="row">
                <h4>Deck Statistics</h4>
            </div>
            <div class="row">
                <h6 class="col-9">Combo Chance:</h6>
                <h6 id="comboChance" class="col"></h6>
            </div>
            <div class="row">
                <h6 class="col-9">One-Card Combo Chance:</h6>
                <h6 id="oneComboChance" class="col"></h6>
            </div>
            <div class="row">
                <h6 class="col-9">Two-Card Combo Chance:</h6>
                <h6 id="twoComboChance" class="col"></h6>
            </div>
            <div class="row">
                <h6 class="col-9">Combo and Extender Chance:</h6>
                <h6 id="extenderChance" class="col"></h6>
            </div>
            <div class="row">
                <h6 class="col-9">Combo and NonEngine Chance:</h6>
                <h6 id="nonEngineChance" class="col"></h6>
            </div>
        </div>
            </div>
    </section>
    <section id="deckview" class="col-7" >
            <div class="comboContent row">
                <div class="col m-1" id="OneCard">
                    <label>One Card <input type="radio" name="combo" value="OneCard"></label>
                </div>
                <div  class="col m-1" id="TwoCardA">
                    <label>Two Card A <input type="radio" name="combo" value="TwoCardA"></label>
                </div>
                <div class="col m-1" id="TwoCardB">
                    <label>Two Card B <input type="radio" name="combo" value="TwoCardB"></label>
                </div>
                <div class="col m-1" id="Extenders">
                    <label>Extenders <input type="radio" name="combo" value="Extenders"></label>
                </div>
                <div class="col m-1" id="Bricks">
                    <label>Bricks <input type="radio" name="combo" value="Bricks"></label>
                </div>
                <div class="col m-1" id="NonEngine">
                    <label>Non-Engine <input type="radio" name="combo" value="NonEngine"></label>
                </div>
                </div>
                <div id="main-deck" class="row row-cols-auto">
            </div>
        <div id="extra-deck" class="row row-cols-auto">
        </div>
    </section>
    <section class="col">
        <div>
        <input type="text" id="search" placeholder="Card Name or Archtype">
        <button>Search</button>
            </div>
        <div id="search-results" class="row"></div>
    </section>
</main>
<script src="~/Scripts/ComboSchema.js"></script>
<script src="~/Scripts/deckeditor.js"></script>
<script>
    window.onload = function () {
        splitDeck('@Html.Raw(Model.DeckList)');
        getComboSchema(@Html.Raw(Model.DeckId));
        createEventListeners(@Html.Raw(Model.DeckId),'@Html.Raw(Model.UserId)');
    }
</script>